<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2021. Futurewei Technologies Inc. All rights reserved.
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http:  www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.CalculatorActivity"
            android:label="@string/stdCal"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.converter.UnitConverter"
            android:label="@string/unitCal"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.converter.UnitArea"
            android:label="@string/title_activity_unit_area"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.converter.UnitLength"
            android:label="@string/title_activity_unit_length"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.converter.UnitWeight"
            android:label="@string/title_activity_unit_weight"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.converter.UnitTemperature"
            android:label="@string/title_activity_unit_temperature"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.NonConsumptionActivity"
            android:label="@string/upgrade"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.PrivacyPolicyActivity"
            android:label="@string/privacy_policy"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.hmsecosystem.calculator.TermsOfServiceActivity"
            android:label="@string/terms_of_service"
            android:screenOrientation="portrait">
        </activity>
        <service android:name=".MyPushService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="com.huawei.hms.client.channel.androidMarket" android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7328300026305104~5595136447"/>

        <service android:name="com.appsflyer.FirebaseMessagingServiceListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>
    </application>
</manifest>